@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-size: 1.6rem;
	background-color: $black;
	color: $white;
	font-family: 'Red Hat Display', sans-serif;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	padding: 0 2rem;
}

.hamburger {
	position: fixed;
	top: 3em;
	right: 1em;
	transform: translateY(-50%);
	z-index: 1000;
}

.space-up {
	margin-top: 10rem;
}

.nav {
	z-index: 20;
	&-mobile {
		touch-action: none;
		color: $white;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $black;
		z-index: 21;
		transition: 0.3s;
		transform: translateX(-102%);

		&--active {
			transform: translateX(0);
		}
		&__link {
			margin: 2rem 0;
			font-size: 2rem;
			text-transform: uppercase;
		}
		&__brand {
			height: 4rem;
			margin-bottom: 10rem;
		}
	}

	&-desktop {
		display: none;
	}

	a {
		letter-spacing: 1px;
		position: relative;
		text-decoration: none;
		color: $white;
		font-weight: bold;
	}
	.one::after {
		transition: transform 0.3s;
	}

	.one::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: $red;
		transform: scaleX(0);
		transform-origin: right;
	}

	.one:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}

// header

header {
	height: 100vh;
	background-image: url(/dist/img/Ferrari-LaFerrari-for-sale.50003_1.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;

	.wrapper {
		z-index: 10;
	}
	.shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.52);
	}
	.header {
		&__text {
			margin-top: 10rem;

			font-size: 2rem;
			text-transform: uppercase;
			span {
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke: 1px $red;
			}

			p {
				font-size: 2rem;
			}
			h2 {
				font-size: 4rem;
				margin: 1rem 0;
			}
		}

		&__photo {
			width: 100%;
			margin-top: 5rem;
		}
	}
}

.section {
	&__info {
		text-transform: uppercase;
		font-weight: bold;
		margin: 5rem 0 5rem;
		text-align: center;
		font-size: 5rem;
	}
}

.aboutus {
	.wrapper {
		display: flex;

		flex-direction: column;
	}
	&__image {
		background-image: url(/dist/img/garage.jpg);
		height: 50rem;

		background-size: cover;
		background-position: center;
	}
	&__text-box {
		display: flex;
		flex-direction: column;
		margin: 5rem 0;

		h3 {
			text-align: center;

			font-size: 4rem;
			text-transform: uppercase;
			letter-spacing: 3px;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px $red;
		}
		p {
			text-align: justify;
			margin: 4rem 0;
			font-size: 2.5rem;
		}
		&-sectionname {
			display: none;
			font-size: 8rem;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 2px $red;
		}
		&-stats {
			margin: auto 0;
			display: flex;
			flex-direction: column;
			font-size: 2rem;
		}
	}
}

.offer {
	&__text {
		font-size: 2rem;

		p {
			font-size: 2.5rem;
		}
		h2 {
			margin: 1rem 0;
		}
		h3 {
			font-size: 1.8rem;
		}
	}

	&__photo {
		height: 30rem;
		margin-top: 5rem;
		background-size: cover;
		background-position: center;
	}

	&__stats {
		font-size: 1.5rem;
		margin-top: 4rem;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		ul {
			list-style: none;
		}
		span {
			font-weight: bold;
		}
	}
	.porsche911-stats {
		span {
			color: $yellow;
		}
	}
	.ferrari-stats {
		span {
			color: $red;
		}
	}
	.audir8-stats {
		span {
			color: $blue;
		}
	}

	.porsche911 {
		background-image: url(/dist/img/S21_0975.jpg);
	}
	.laferrari {
		background-image: url(/dist/img/laferrari2.jpg);
	}
	.audir8 {
		background-image: url(/dist/img/audir8.webp);
	}
}

.decoration {
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	flex-direction: column-reverse;
	&__text {
		margin-bottom: 5rem;
		font-size: 4rem;
	}
	&__texttwo {
		font-size: 7rem;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 2px $yellow;
		&--red {
			-webkit-text-stroke: 2px $red;
		}
		&--blue {
			-webkit-text-stroke: 2px $blue;
		}
	}
}

.contact {
	margin-bottom: 5rem;

	.wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
	}
	&__contactbox {
		letter-spacing: 2px;
		display: flex;
		flex-direction: column;
		text-align: center;
		a {
			text-decoration: none;
			color: $white;
		}
		h2 {
			font-size: 4rem;
		}
		p {
			font-size: 2.5rem;
		}
		&--space {
			margin: 2rem 0;
		}
		&--space:last-child {
			margin-bottom: 0;
		}
	}
	&__contactmap {
		margin-top: 5rem;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 2rem;
	border-top: 2px solid $white;

	a {
		text-decoration: none;
		color: $white;
	}
	span {
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__contactbox {
		margin: 5rem 0;
		h2 {
			font-size: 2rem;
		}
		&--space {
			margin: 1rem 0;
		}
	}
	&__navigation {
		ul {
			list-style: none;
			li {
				margin: 1rem 0;
				a {
					color: $white;
					transition: color 0.5s;
				}
				:hover {
					color: $red;
				}
			}
		}
	}
	&__brand {
		display: inline-block;
		margin: 5rem 0;
		width: 15rem;
	}
	&__copyright {
		margin-bottom: 5rem;
	}
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.logos {
	white-space: nowrap;
	position: relative;
	margin-top: 10rem;
}

.logos::before,
.logos::after {
	position: absolute;
	top: 0;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), $black);
	content: '';
	z-index: 2;
}

.logos::before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), $black);
}
.logos::after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), $black);
}

.logos:hover .logos-slide {
	animation-play-state: paused;
}

.logos-slide {
	display: inline-block;
	animation: 15s slide infinite linear;

	img {
		height: 15rem;
		transition: scale 0.5s;
	}
}

@media (min-width: 992px) {
	header {
		align-items: center;
		margin-top: 0;

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.header {
			.shadow {
				// z-index: 2;
				background-color: transparent;
				background: linear-gradient(in oklab, rgba(211, 255, 255, 0), #0e0e0e);
			}
			&__text {
				margin-top: 0;
				width: 50%;
				h2 {
					font-size: 5rem;
				}
				p {
					font-size: 3rem;
				}
			}
			&__photo {
				width: 40%;
				margin-top: 0;
			}
		}
	}

	.aboutus {
		.section__info {
			display: none;
		}
		.wrapper {
			justify-content: space-between;
			flex-direction: row;
		}
		&__image {
			width: 50%;
			height: 90rem;
		}
		&__text-box {
			display: flex;
			flex-direction: column;
			width: 40%;
			margin: 0;
			&-sectionname {
				display: block;
				-webkit-text-stroke: 1px $red;
			}
		}
		h3 {
			text-align: left;
			margin-top: 2rem;
			-webkit-text-fill-color: $white;
			-webkit-text-stroke: 0;
			font-weight: bold;
		}
		p {
			font-size: 3rem;
		}
	}

	.offer {
		align-items: center;
		margin-top: 0;

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row-reverse;
		}
		&__text {
			font-size: 3rem;
			width: 45%;

			p {
				font-size: 2rem;
			}
		}
		&__photo {
			width: 70rem;
			height: 50rem;
			margin-top: 0;
		}
		&__stats {
			margin-top: 4rem;
			font-size: 2.5rem;
		}
		.reverse-section {
			flex-direction: row;
		}
		.porsche911 {
			background-position-y: -30rem;
		}
		.porsche911,
		.audir8 {
			margin-right: 2rem;
		}
		.laferrari {
			margin-left: 2rem;
		}
	}

	.hamburger {
		display: none;
	}
	.nav {
		position: absolute;
		height: 8rem;
		width: 100%;
		background-color: transparent;
		&-mobile {
			display: none;
		}
		&-desktop {
			display: flex;

			.wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__brand {
				height: 5rem;
			}
			&__links {
				display: flex;
				align-items: center;
				a {
					text-transform: uppercase;
					margin: 0 2rem;
					font-size: 2.5rem;
					font-weight: 500;
					transition: all 0.3s;
				}
			}
		}
	}
	.decoration {
		font-weight: bold;
		display: flex;
		align-items: center;
		text-transform: uppercase;

		&__text {
			margin-left: -100%;
			margin-top: 15%;
			position: relative;
			font-size: 12rem;
		}
		&__texttwo {
			font-size: 18rem;
		}
		&__text {
			&--audir {
				margin-right: 75rem;
			}
		}
	}

	.contact {
		.wrapper {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: row;
		}
		&__contactbox {
			letter-spacing: 2px;
			display: flex;

			text-align: center;
			h2 {
				font-size: 4rem;
			}
			p {
				font-size: 2.5rem;
			}
			&--space {
				margin: 2rem 0;
			}
			&--space:last-child {
				margin-bottom: 2rem;
			}
		}
		&__contactmap {
			margin-top: 0;
			iframe {
				height: 40rem;
				width: 40rem;
			}
		}
	}
	.footer {
		font-size: 1.5rem;
		text-align: left;
		padding: 5rem 0 3rem;

		font-weight: 500;
		.wrapper {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-around;
			align-items: center;
		}
		&__contactbox {
			margin: 0 2rem;
			h2 {
				font-size: 1.5rem;
			}
		}
		&__test {
			display: flex;
		}
		&__copyright {
			margin: 5rem 0 0;
			font-weight: 400;

			span,
			p {
				font-size: 1.5rem;
				font-weight: normal;
			}
			&--brand-name {
				text-transform: uppercase;
				transition: color 0.5s;
			}
			&--brand-name:hover {
				color: $red;
			}
		}
	}
	.logos-slide img {
		height: 30rem;
	}
	.logos:before,
	.logos::after {
		width: 30rem;
	}
}

@media (min-width: 1200px) {
	.offer {
		&__text {
			p {
				font-size: 3rem;
			}
		}
	}
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #ededed #0a0a0a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
	background-color: #ededed;
	border-radius: 10px;
	border: 3px solid #ffffff;
}

// .progress-bar {
// 	z-index: 100000;
// 	position: fixed;
// 	width: 100%;
// 	height: 1vh;
// 	transform: translate();
// }
// .filled {
// 	width: 0;
// 	height: 100%;
// 	background-color: $red;
// }
